Please extract all entities. Entities include people, places, organizations, and the like. Entities do NOT include
cultures, dates, times, facts, or opinions. The text with (possibly no) entities is below after two newlines (
and is terminated by two newlines): 

{{ text }}

Please return a list of entities in a JSON list that is parseable using json.loads(...). Do NOT use three ticmarks. Do NOT explain. I should be able to copy your ENTIRE output and json.loads it. Make sure it is a list of strings and not a dict nor a single string. Please answer below concisely:
