# Recommended to use conda env -n <env_name> python=3.12 && conda activate <env_name> && pip install -r requirements.txt
dotenv
openai
litellm
tqdm
numpy
pydantic
torch
jaxtyping
transformers
modal
datasets
Jinja2
pydantic-yaml
click
fastapi[standard]
uvicorn